@use "../../graphics/styles/global" as *

$width: 6.5em

.infobar
  +withShadow
  +card
  &
    display: flex
    flex-direction: row
    gap: $padding
    font-weight: 300
    height: $topbar-height

  @media (max-width: $md-width)
    border-radius: 0

  li
    font-size: 0.85em
    list-style: none
    margin: 0
    color: white
    position: relative
    border-right: 1px solid white
    padding: $padding * 0.5 $padding * 2 $padding * 0.5 $padding * 0.5
    width: $width
    display: flex
    justify-content: space-between
    align-items: center
    flex: 1

    .icon
      width: 1.75em
      aspect-ratio: 1 / 1
      display: inline-flex
      align-items: center
      justify-content: center

    &:nth-child(1), &:nth-child(2)
      width: $width * 2
      flex: 2

    &:last-child
      border: none

