@use "./global" as *

$track-color: $background
$thumb-bg: white
$track-height: 0.5em
$thumb-size: $track-height * 2.5
$thumb-border-width: 0.0625em

$attackRatio: rgb(213, 47, 61)
$targetTroopRatio: rgb(43, 104, 205)

.control-panel
  font-size: 16px
  // This is the default font size for the leaderboard -> update all em
  position: fixed
  bottom: $padding
  left: $padding
  z-index: $frontZIndex
  background-color: $background
  color: white
  padding: $padding
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
  border-radius: $padding
  backdrop-filter: blur(5px)
  display: flex
  flex-direction: column
  gap: 0.5rem
  width: 20em
  max-width: 400px
  box-sizing: border-box

  &.hidden
    display: none !important

  @media(max-width: $desktop-max-width)
    position: relative
    width: 100%
    max-width: 100%
    border-radius: 0
    left: 0
    bottom: 0
    display: flex
    flex-direction: row
    gap: 2em
    box-shadow: none
    & > div
      flex: 1

  @media(max-width: $tablet-max-width)
    flex-direction: column
    gap: 0.5em

  .isIncreasing
    color: #3fda3f

  .isNotIncreasing
    color: orange

  .justify-between
    display: flex
    justify-content: space-between
    align-items: center

  .with-value
    display: flex
    justify-content: space-between
    align-items: center
    gap: 0.5em

    span
      font-size: 0.9em
      font-weight: normal

  input[type="range"]
    position: relative
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    width: 100%
    height: $track-height
    background: $track-color
    border: none
    border-radius: calc($track-height / 2)
    outline: none
    margin: 0

    &.attackRatio
      &::before, &::after
        background: $attackRatio

    &.targetTroopRatio
      &::before, &::after
        background: $targetTroopRatio

    @for $i from 0 through 100
      &.fill-#{$i}
        &::before
          width: calc(#{$i} * 1%)

        &::after
          left: calc(#{$i} * 1% - #{calc($thumb-size / 2)})

    &::before, &::after
      content: ""
      position: absolute
      top: 50%
      transform: translateY(-50%)

    &::before
      left: 0
      height: calc($track-height + 1px)
      border-radius: calc($track-height / 2)
      pointer-events: none
      z-index: 1

    &::after
      aspect-ratio: 1 / 2
      height: $thumb-size
      left: 0
      z-index: 2
      border-radius: 0.25em
      cursor: grab

    &::-webkit-slider-thumb
      -webkit-appearance: none
      appearance: none
      aspect-ratio: 1 / 2
      height: $thumb-size
      cursor: grab

    &::-webkit-slider-runnable-track
      height: $track-height
      background: $track-color
      border-radius: calc($track-height / 2)


//
//input[type="range"]
//  -webkit-appearance: none
//  background: transparent
//  outline: none
//
//
//input[type="range"]::-webkit-slider-thumb
//  -webkit-appearance: none
//  appearance: none
//  width: 16px
//  height: 16px
//  background: white
//  border-width: 2px
//  border-style: solid
//  border-radius: 50%
//  cursor: pointer
//
//input[type="range"]::-moz-range-thumb
//  width: 16px
//  height: 16px
//  background: white
//  border-width: 2px
//  border-style: solid
//  border-radius: 50%
//  cursor: pointer
//
//.targetTroopRatio::-webkit-slider-thumb
//  border-color: rgb(59 130 246)
//
//.targetTroopRatio::-moz-range-thumb
//  border-color: rgb(59 130 246)
//
//.attackRatio::-webkit-slider-thumb
//  border-color: rgb(239 68 68)
//
//.attackRatio::-moz-range-thumb
//  border-color: rgb(239 68 68)

