@use "sass:color"
@use "sass:math"
@use "sass:map"
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap')

$topbar-height: 3em

$robotoMono: 'Roboto Mono', monospace
$background: rgba(31, 41, 55, 0.7)
$color: white
$frontZIndex: 9999

$padding: 0.5em
$md-padding: 0.25em

$lg-width: 1460px
$md-width: 1024px
$sm-width: 800px


$track-color: $background
$thumb-bg: white
$track-height: 0.5em
$thumb-size: $track-height * 2.5
$thumb-border-width: 0.0625em

$attackRatio: rgb(213, 47, 61)
$targetTroopRatio: rgb(43, 104, 205)
$background_hover: color.adjust($background, $lightness: -1.25%)
$background_hover_hover: color.adjust($background_hover, $lightness: -1.25%)

@function textColor($color)
  $lightness: color.channel($color, "lightness", $space: hsl)
  @return if($lightness > 50, #000000, #ffffff)

*
  box-sizing: border-box

=card
  &
    background-color: $background
    color: textColor($background)
    border: none
    border-radius: $padding * 1.5
    padding: $padding
    margin: 0
    font-size: 1em
    backdrop-filter: blur(5px)
    z-index: $frontZIndex

    @media (max-width: $md-width)
      padding: $md-padding
      font-size: 0.9em
      border-radius: $md-padding

=withShadow
  &
    box-shadow: 0 0 1em color.adjust($background, $lightness: -25%, $alpha: -0.25)
    @media(max-width: $md-width)
      box-shadow: none

=defaultTransition
  &
    transition: all 0.15s ease-in-out

// utilities

.lg-hide
  @media (min-width: $md-width + 1)
    display: none !important

.md-hide
  @media (max-width: $md-width)
    display: none !important

.sm-hide
  @media (max-width: $sm-width)
    display: none !important

span.icon
  display: inline-flex
  align-items: center
  justify-content: center

div.icon
  display: flex
  align-items: center
  justify-content: center

.number
  font-family: $robotoMono

$labels: ("human":#A9232E, "bot":#3063B5, "fakehuman":#9b19c5, "friendly":#21B521, "hostile":#D12E2E, "neutral":#44444B, "distrustful":#EDB640)

.label
  padding: $padding * 0.25 $padding * 1.25 !important
  background: white
  color: textColor(white)
  text-align: center !important
  border-radius: $padding * 0.5

  @each $name, $color in $labels
    &-#{$name}
      background: $color
      color: textColor($color)
